*{
    margin: 0;
    padding: 0;
}

.user_int {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #266867;
}

.button {
    background: #f58800;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
